<template>
  <div>
    <h1>Este titulo esta en CmpEstilos</h1>
    <h2>Este tambien</h2>
  </div>
</template>

<script>
export default {

}
</script>
<!--De esta forma, se ha añadido un atributo tanto a los estilos como a las etiquetas de este
componente, evitando que se aplique a aquellos elementos que no se encuentran dentro de este
archivo. -->
<style scoped>
  h1 {
    color: blue;
  }
  h2{
      color:crimson;
  }
</style>