<template>
  <div>
    <CmpGlobal />
    {{ contador }}
    <h2>Referencias y Watcher</h2>
    <h2 ref="cambioColor">Cambiar el color</h2>
    <button @click="colorAzul">Azul</button>
    <button @click="colorAmarillo">Amarillo</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      contador: 0,
    };
  },
  methods: {
    colorAzul() {
      this.$refs.cambioColor.style.color = "blue";
      this.contador++;
    },
    colorAmarillo() {
      this.$refs.cambioColor.style.color = "yellow";
      this.contador--;
    }
  },
    watch: {
      contador(newValue, oldValue) {
        console.log(newValue, oldValue);
      }
    }
};
</script>

<style>
</style>