<template>
  <div>
    <CmpGlobal/>
    <p id="p1" v-text="text"></p>
    <div v-html="nyanGif"></div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            text: 'Meowww',
            nyanGif: `<img src="http://www.nyan.cat/cats/original.gif"/>`,
        }
    }
}
</script>

<style>

</style>