<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
<!-- Componente num UNO -->
<!-- Componentes globales -->
<!-- <ComponentesGlobales></ComponentesGlobales> -->

<!-- Componente num DOS -->
<!-- Directivas de Interpolacion -->
<DirInterpolacion/>

<!-- Componente tercero -->
<!-- Estilos -->
<CmpGlobal/>
<div><h1>Este titulo esta app.vue</h1><CmpEstilos/></div>

<!-- Cuarto Componente -->
<!-- Referencias -->
<CmpReferencias />

  </div>
</template>

<script>
// [IMPORT] Componentes globales

// [IMPORT] Directivas de Interpolacion
import DirInterpolacion from './components/DirInterpolacion.vue';

// [IMPORT] Estilos
import CmpEstilos from './components/CmpEstilos';

// [IMPORT] Referencias
import CmpReferencias from './components/CmpReferencias';

export default {
  name: 'App',
  components: {
    CmpEstilos,
    DirInterpolacion,
    CmpReferencias
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
